{
   "openapi":"3.0.0",
   "servers":[
      {
         "url":"https://rest.ensembl.org",
         "description":"",
         "variables":{
            
         }
      }
   ],
   "info":{
      "version":"4b751e4e-7784-4f0e-9423-66f79da9557b",
      "title":"Ensembl REST",
      "description":"Ensembl REST API provides language agnostic bindings to Ensembl data.",
      "termsOfService":"",
      "contact":{
         
      },
      "license":{
         "name":"Apache License Version 2.0"
      }
   },
   "paths":{
      "/archive/id/{id}":{
         "get":{
            "summary":"GET archive/id/:id",
            "description":"Uses the given identifier to return its latest version\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl stable ID | \\- | ENSG00000157764  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname |",
            "operationId":"GETarchive/id/:id",
            "parameters":[
               {
                  "$ref":"#/components/parameters/content-type"
               },
               {
                  "$ref":"#/components/parameters/id"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Archive"
            ]
         }
      },
      "/archive/id":{
         "post":{
            "summary":"POST archive/id",
            "description":"Retrieve the latest version for a set of identifiers\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n\n## Message\n\n| Content-type | Format | Example |\n| --- | --- | --- |\n| application/json | { \"id\" : array } | { \"id\" : \\[\"ENSG00000157764\", \"ENSG00000248378\"\\] } |",
            "operationId":"POSTarchive/id",
            "parameters":[
               
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "requestBody":{
               "description":"Retrieve the latest version for a set of identifiers\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n\n## Message\n\n| Content-type | Format | Example |\n| --- | --- | --- |\n| application/json | { \"id\" : array } | { \"id\" : \\[\"ENSG00000157764\", \"ENSG00000248378\"\\] } |",
               "required":true,
               "content":{
                  "text/plain":{
                     "schema":{
                        "type":"string",
                        "example":{
                           "id":[
                              "ENSG00000157764",
                              "ENSG00000248378"
                           ]
                        }
                     },
                     "example":"{\n    \"id\": [\n        \"ENSG00000157764\",\n        \"ENSG00000248378\"\n    ]\n}"
                  }
               }
            },
            "tags":[
               "Archive"
            ]
         }
      },
      "/cafe/genetree/id/{id}":{
         "get":{
            "summary":"GET cafe/genetree/id/:id",
            "description":"Retrieves a cafe tree of the gene tree using the gene tree stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl genetree ID | \\- | ENSGT00390000003602 |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| nh_format | String | The format of a NH (New Hampshire) request. Available only with the default setting to allow us to return the cafe tree with Taxa names appended with number of members and the p_value. example : homo_sapiens_3_0.123 where 3 is the number of members and 0.123 is the p value | Preset with default cafe parameters | \\- |",
            "operationId":"GETcafe/genetree/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSGT00390000003602"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/cafe/genetree/member/id/{id}":{
         "get":{
            "summary":"GET cafe/genetree/member/id/:id",
            "description":"Retrieves the cafe tree of the gene tree that contains the gene / transcript / translation stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl stable ID | \\- | ENSG00000167664  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | \\- | core  <br> |\n| nh_format |  | The format of a NH (New Hampshire) request. Available only with the default setting to allow us to return the cafe tree with Taxa names appended with number of members and the p_value. example : homo_sapiens_3_0.123 where 3 is the number of members and 0.123 is the p value | Preset with default cafe parameters | \\- |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human |",
            "operationId":"GETcafe/genetree/member/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSG00000167664"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/cafe/genetree/member/symbol/{species}/{symbol}":{
         "get":{
            "summary":"GET cafe/genetree/member/symbol/:species/:symbol",
            "description":"Retrieves the cafe tree of the gene tree that contains the gene identified by a symbol\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n| symbol | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| nh_format |  | The format of a NH (New Hampshire) request. Available only with the default setting to allow us to return the cafe tree with Taxa names appended with number of members and the p_value. example : homo_sapiens_3_0.123 where 3 is the number of members and 0.123 is the p value | Preset with default cafe parameters | \\- |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript |",
            "operationId":"GETcafe/genetree/member/symbol/:species/:symbol",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/species"
               },
               {
                  "$ref":"#/components/parameters/symbol"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/family/id/{id}":{
         "get":{
            "summary":"GET family/id/:id",
            "description":"Retrieves a family information using the family stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl family ID | \\- | PTHR23264  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions). Note: If aligned=1, this will override sequence=none | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| member_source | Enum(all, ensembl, uniprot) | The source of the family members that you want returned | all | \\- |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned. Note: dependant on the setting for \"aligned\", If aligned=1, this will override sequence=none | protein | \\- |",
            "operationId":"GETfamily/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"PTHR23264"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/family/member/id/{id}":{
         "get":{
            "summary":"GET family/member/id/:id",
            "description":"Retrieves the information for all the families that contains the gene / transcript / translation stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl stable ID | \\- | ENSG00000167664  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions). Note: If aligned=1, this will override sequence=none | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| member_source | Enum(all, ensembl, uniprot) | The source of the family members that you want returned | all | \\- |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned. Note: dependant on the setting for \"aligned\", If aligned=1, this will override sequence=none | protein | \\- |",
            "operationId":"GETfamily/member/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSG00000167664"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/family/member/symbol/{species}/{symbol}":{
         "get":{
            "summary":"GET family/member/symbol/:species/:symbol",
            "description":"Retrieves the information for all the families that contains the gene identified by a symbol\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n| symbol | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions). Note: If aligned=1, this will override sequence=none | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| member_source | Enum(all, ensembl, uniprot) | The source of the family members that you want returned | all | \\- |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript  <br> |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned. Note: dependant on the setting for \"aligned\", If aligned=1, this will override sequence=none | protein | \\- |",
            "operationId":"GETfamily/member/symbol/:species/:symbol",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "name":"symbol",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"BRCA2"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/genetree/id/{id}":{
         "get":{
            "summary":"GET genetree/id/:id",
            "description":"Retrieves a gene tree for a gene tree stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl genetree ID | \\- | ENSGT00390000003602  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| cigar_line | Boolean | Return the aligned sequence encoded in CIGAR format | 0 | \\- |\n| clusterset_id | String | Name of the gene-tree resource being queried. Common values are \"default\" for the standard multi-clade trees (which exclude all non-reference strains) and \"murinae\" for the trees spanning all mouse strains. By default, the most inclusive analysis will be selected | \\- | default  <br>murinae  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| nh_format | Enum(full, display_label_composite, simple, species, species_short_name, ncbi_taxon, ncbi_name, njtree, phylip) | The format of a NH (New Hampshire) request. | simple | \\- |\n| prune_species | String | Prune the tree by species. Supports all species aliases. Will return a tree with only the species given | \\- | human  <br>cow  <br> |\n| prune_taxon | Integer | Prune the tree by taxon. Will return a tree with only the taxons given | \\- | 9606  <br>10090  <br> |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned | protein | \\- |",
            "operationId":"GETgenetree/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSGT00390000003602"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/genetree/member/id/{id}":{
         "get":{
            "summary":"GET genetree/member/id/:id",
            "description":"Retrieves the gene tree that contains the gene / transcript / translation stable identifier\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl stable ID | \\- | ENSG00000167664  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| cigar_line | Boolean | Return the aligned sequence encoded in CIGAR format | 0 | \\- |\n| clusterset_id | String | Name of the gene-tree resource being queried. Common values are \"default\" for the standard multi-clade trees (which exclude all non-reference strains) and \"murinae\" for the trees spanning all mouse strains. By default, the most inclusive analysis will be selected | \\- | default  <br>murinae  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | \\- | core  <br> |\n| nh_format | Enum(full, display_label_composite, simple, species, species_short_name, ncbi_taxon, ncbi_name, njtree, phylip) | The format of a NH (New Hampshire) request. | simple | \\- |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript  <br> |\n| prune_species | String | Prune the tree by species. Supports all species aliases. Will return a tree with only the species given | \\- | human  <br>cow  <br> |\n| prune_taxon | Integer | Prune the tree by taxon. Will return a tree with only the taxons given | \\- | 9606  <br>10090  <br> |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned | protein | \\- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human |",
            "operationId":"GETgenetree/member/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSG00000167664"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/genetree/member/symbol/{species}/{symbol}":{
         "get":{
            "summary":"GET genetree/member/symbol/:species/:symbol",
            "description":"Retrieves the gene tree that contains the gene identified by a symbol\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n| symbol | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| cigar_line | Boolean | Return the aligned sequence encoded in CIGAR format | 0 | \\- |\n| clusterset_id | String | Name of the gene-tree resource being queried. Common values are \"default\" for the standard multi-clade trees (which exclude all non-reference strains) and \"murinae\" for the trees spanning all mouse strains. By default, the most inclusive analysis will be selected | \\- | default  <br>murinae  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| nh_format | Enum(full, display_label_composite, simple, species, species_short_name, ncbi_taxon, ncbi_name, njtree, phylip) | The format of a NH (New Hampshire) request. | simple | \\- |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript  <br> |\n| prune_species | String | Prune the tree by species. Supports all species aliases. Will return a tree with only the species given | \\- | human  <br>cow  <br> |\n| prune_taxon | Integer | Prune the tree by taxon. Will return a tree with only the taxons given | \\- | 9606  <br>10090  <br> |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned | protein | \\- |",
            "operationId":"GETgenetree/member/symbol/:species/:symbol",
            "parameters":[
               {
                  "$ref":"#/components/parameters/prune_taxon"
               },
               {
                  "$ref":"#/components/parameters/prune_species"
               },
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "name":"symbol",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"BRCA2"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/alignment/region/{species}/{region}":{
         "get":{
            "summary":"GET alignment/region/:species/:region",
            "description":"Retrieves genomic alignments as separate blocks based on a region and species\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| region | String | Query region. A maximum of 10Mb is allowed to be requested at any one time | \\- | X:1000000..1000100:1  <br>X:1000000..1000100:-1  <br>X:1000000..1000100  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compact | Boolean | Applicable to EPO_EXTENDED alignments. If true, concatenate the extended species sequences together to create a single sequence. Otherwise, separates out all sequences. | 1 | \\- |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| display_species_set | String | Subset of species in the alignment to be displayed (multiple values). All the species in the alignment will be displayed if this is not set. Any valid alias may be used. | \\- | human  <br>chimp  <br>gorilla  <br> |\n| mask | Enum(hard,soft) | Request the sequence masked for repeat sequences. Hard will mask all repeats as N's and soft will mask repeats as lowercased characters. | \\- | hard  <br> |\n| method | Enum(EPO, EPO_EXTENDED, PECAN, LASTZ_NET, BLASTZ_NET, TRANSLATED_BLAT_NET, CACTUS_HAL, CACTUS_HAL_PW) | The alignment method | EPO | PECAN  <br> |\n| species_set | String | The set of species used to define the pairwise alignment (multiple values). Should not be used with the species_set_group parameter. Use [/info/compara/species_sets/:method](https://rest.ensembl.org/documentation/info/compara_species_sets) with one of the methods listed above to obtain a valid list of species sets. Any valid alias may be used. | \\- | homo_sapiens  <br>mus_musculus  <br> |\n| species_set_group | String | The species set group name of the multiple alignment. Should not be used with the species_set parameter. Use [/info/compara/species_sets/:method](https://rest.ensembl.org/documentation/info/compara_species_sets) with one of the methods listed above to obtain a valid list of group names. | mammals | mammals, amniotes, fish, sauropsids, murinae |",
            "operationId":"GETalignment/region/:species/:region",
            "parameters":[
               {
                  "$ref":"#/components/parameters/species_set_group"
               },
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"taeniopygia_guttata"
                  }
               },
               {
                  "$ref":"#/components/parameters/region"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/homology/id/{id}":{
         "get":{
            "summary":"GET homology/id/:id",
            "description":"Retrieves homology information (orthologs) by Ensembl gene id\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl stable ID | \\- | ENSG00000157764  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| cigar_line | Boolean | Return the aligned sequence encoded in CIGAR format | 1 | \\- |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| format | Enum(full, condensed) | Layout of the response | full | \\- |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned | protein | \\- |\n| target_species | String | Filter by species. Supports all species aliases | \\- | human  <br>cow  <br> |\n| target_taxon | Integer | Filter by taxon | \\- | 9606  <br>10090  <br> |\n| type | Enum(orthologues, paralogues, projections, all) | The type of homology to return from this call. Projections are orthology calls defined between alternative assemblies and the genes shared between them. Useful if you need only one type of homology back from the service | all | \\- |",
            "operationId":"GEThomology/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSG00000157764"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/homology/symbol/{species}/{symbol}":{
         "get":{
            "summary":"GET homology/symbol/:species/:symbol",
            "description":"Retrieves homology information (orthologs) by symbol\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n| symbol | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| aligned | Boolean | Return the aligned string if true. Otherwise, return the original sequence (no insertions) | 1 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| cigar_line | Boolean | Return the aligned sequence encoded in CIGAR format | 1 | \\- |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| format | Enum(full,condensed) | Layout of the response | full | \\- |\n| sequence | Enum(none, cdna, protein) | The type of sequence to bring back. Setting it to none results in no sequence being returned | protein | \\- |\n| target_species | String | Filter by species. Supports all species aliases | \\- | homo_sapiens  <br>human  <br> |\n| target_taxon | Integer | Filter by taxon | \\- | 9606  <br>10090  <br> |\n| type | Enum(orthologues, paralogues, projections, all) | The type of homology to return from this call. Projections are orthology calls defined between alternative assemblies and the genes shared between them. Useful if you need only one type of homology back from the service | all | \\- |",
            "operationId":"GEThomology/symbol/:species/:symbol",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "name":"symbol",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"BRCA2"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Comparative Genomics"
            ]
         }
      },
      "/xrefs/symbol/{species}/{symbol}":{
         "get":{
            "summary":"GET xrefs/symbol/:species/:symbol",
            "description":"Looks up an external symbol and returns all Ensembl objects linked to it. This can be a display name for a gene/transcript/translation, a synonym or an externally linked reference. If a gene's transcript is linked to the supplied symbol the service will return both gene and transcript (it supports transient links).\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n| symbol | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript |",
            "operationId":"GETxrefs/symbol/:species/:symbol",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "name":"symbol",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"BRCA2"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Cross References"
            ]
         }
      },
      "/xrefs/id/{id}":{
         "get":{
            "summary":"GET xrefs/id/:id",
            "description":"Perform lookups of Ensembl Identifiers and retrieve their external references in other databases\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | An Ensembl Stable ID | \\- | ENSG00000157764  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| all_levels | Boolean | Set to find all genetic features linked to the stable ID, and fetch all external references for them. Specifying this on a gene will also return values from its transcripts and translations | 0 | 1  <br> |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC  <br> |\n| object_type | String | Filter by feature type | \\- | gene  <br>transcript  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human |",
            "operationId":"GETxrefs/id/:id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"ENSG00000157764"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Cross References"
            ]
         }
      },
      "/xrefs/name/{species}/{name}":{
         "get":{
            "summary":"GET xrefs/name/:species/:name",
            "description":"Performs a lookup based upon the primary accession or display label of an external reference and returning the information we hold about the entry\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| name | String | Symbol or display name of a gene | \\- | BRCA2  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| db_type | String | Restrict the search to a database other than the default. Useful if you need to use a DB other than core | core | core  <br>otherfeatures  <br> |\n| external_db | String | Filter by external database | \\- | HGNC |",
            "operationId":"GETxrefs/name/:species/:name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "$ref":"#/components/parameters/name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Cross References"
            ]
         }
      },
      "/info/analysis/{species}":{
         "get":{
            "summary":"GET info/analysis/:species",
            "description":"List the names of analyses involved in generating Ensembl data.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname |",
            "operationId":"GETinfo/analysis/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/assembly/{species}":{
         "get":{
            "summary":"GET info/assembly/:species",
            "description":"List the currently available assemblies for a species, along with toplevel sequences, chromosomes and cytogenetic bands.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| bands | Boolean(0,1) | If set to 1, include karyotype band information. Only display if band information is available | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| synonyms | Boolean(0,1) | If set to 1, include information about known synonyms. | 0 | \\- |",
            "operationId":"GETinfo/assembly/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/assembly/{species}/{region_name}":{
         "get":{
            "summary":"GET info/assembly/:species/:region_name",
            "description":"Returns information about the specified toplevel sequence region for the given species.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| region_name | String | The (top level) sequence region name. | \\- | X  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| bands | Boolean(0,1) | If set to 1, include karyotype band information. Only display if band information is available | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| synonyms | Boolean(0,1) | If set to 1, include information about known synonyms | 0 | \\- |",
            "operationId":"GETinfo/assembly/:species/:region_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               },
               {
                  "$ref":"#/components/parameters/region_name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/biotypes/{species}":{
         "get":{
            "summary":"GET info/biotypes/:species",
            "description":"List the functional classifications of gene models that Ensembl associates with a particular species. Useful for restricting the type of genes/transcripts retrieved by other endpoints.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname |",
            "operationId":"GETinfo/biotypes/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/biotypes/groups/{group}/{object_type}/":{
         "get":{
            "summary":"GET info/biotypes/groups/:group/:object_type",
            "description":"Without argument the list of available biotype groups is returned. With :group argument provided, list the properties of biotypes within that group. Object type (gene or transcript) can be provided for filtering.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| group | String | Biotype group | \\- | coding  <br> |\n| object_type | String | Object type (gene or transcript) | \\- | gene |",
            "operationId":"GETinfo/biotypes/groups/:group/:object_type",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/group"
               },
               {
                  "$ref":"#/components/parameters/object_type"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/biotypes/name/{name}/{object_type}":{
         "get":{
            "summary":"GET info/biotypes/name/:name/:object_type",
            "description":"List the properties of biotypes with a given name. Object type (gene or transcript) can be provided for filtering.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| name | String | Biotype name | \\- | protein_coding  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| object_type | String | Object type (gene or transcript) | \\- | gene |",
            "operationId":"GETinfo/biotypes/name/:name/:object_type",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"name",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"protein_coding"
                  }
               },
               {
                  "name":"object_type",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"gene"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/compara/methods/":{
         "get":{
            "summary":"GET info/compara/methods",
            "description":"List all compara analyses available (an analysis defines the type of comparative data).\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| class | String | The class of the method to query for. Regular expression patterns are supported. | \\- | GenomicAlign  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates |",
            "operationId":"GETinfo/compara/methods",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/compara/species_sets/{method}":{
         "get":{
            "summary":"GET info/compara/species_sets/:method",
            "description":"List all collections of species analysed with the specified compara method.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| method | String | Filter by compara method. Use one the methods returned by [/info/compara/methods](https://rest.ensembl.org/documentation/info/compara_methods) endpoint. | \\- | EPO  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| compara | String | Name of the compara database to use. Multiple comparas exist on a server for separate species divisions | vertebrates | vertebrates |",
            "operationId":"GETinfo/compara/species_sets/:method",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/method"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/comparas":{
         "get":{
            "summary":"GET info/comparas",
            "description":"Lists all available comparative genomics databases and their data release. DEPRECATED: use info/genomes/division instead.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/comparas",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/data/":{
         "get":{
            "summary":"GET info/data",
            "description":"Shows the data releases available on this REST server. May return more than one release (unfrequent non-standard Ensembl configuration).\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/data",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/eg_version":{
         "get":{
            "summary":"GET info/eg_version",
            "description":"Returns the Ensembl Genomes version of the databases backing this service\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname |",
            "operationId":"GETinfo/eg_version",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/external_dbs/{species}":{
         "get":{
            "summary":"GET info/external_dbs/:species",
            "description":"Lists all available external sources for a species.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| feature | Enum(dna_align_feature protein_align_feature unmapped_object xref seq_region_synonym) | Only return external DB entries for a given feature. | \\- | xref  <br>dna_align_feature  <br> |\n| filter | String | Restrict external DB searches to a single source or pattern. SQL-LIKE patterns are supported. | \\- | HGNC  <br>GO%  <br> |",
            "operationId":"GETinfo/external_dbs/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/divisions":{
         "get":{
            "summary":"GET info/divisions",
            "description":"Get list of all Ensembl divisions for which information is available\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname |",
            "operationId":"GETinfo/divisions",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/genomes/{genome_name}":{
         "get":{
            "summary":"GET info/genomes/:genome_name",
            "description":"Find information about a given genome\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| name | String | The production name of the genome. | \\- | arabidopsis_thaliana  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| expand | Boolean(0,1) | Expands the information to include details of sequences. Can be very large. | NULL | \\- |",
            "operationId":"GETinfo/genomes/:genome_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/genome_name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/genomes/accession/{accession}":{
         "get":{
            "summary":"GET info/genomes/accession/:accession",
            "description":"Find information about genomes containing a specified INSDC accession\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| accession | String | INSDC sequence accession (optionally versioned) | \\- | U00096  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| expand | Boolean(0,1) | Expands the information to include details of sequences. Can be very large. | NULL | \\- |",
            "operationId":"GETinfo/genomes/accession/:accession",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/accession"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/genomes/assembly/{assembly_id}":{
         "get":{
            "summary":"GET info/genomes/assembly/:assembly_id",
            "description":"Find information about a genome with a specified assembly\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| assembly_id | String | INSDC assembly ID (optionally versioned) | \\- | GCA_902167145.1  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| expand | Boolean(0,1) | Expands the information to include details of sequences. Can be very large. | NULL | \\- |",
            "operationId":"GETinfo/genomes/assembly/:assembly_id",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/assembly_id"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/genomes/division/{division_name}":{
         "get":{
            "summary":"GET info/genomes/division/:division_name",
            "description":"Find information about all genomes in a given division. May be large for Ensembl Bacteria.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| division | String | The name of the division. | \\- | EnsemblPlants  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| expand | Boolean(0,1) | Expands the information to include details of sequences. Can be very large. | NULL | \\- |",
            "operationId":"GETinfo/genomes/division/:division_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/division_name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/genomes/taxonomy/{taxon_name}":{
         "get":{
            "summary":"GET info/genomes/taxonomy/:taxon_name",
            "description":"Find information about all genomes beneath a given node of the taxonomy\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| taxon_name | String | Taxon name or NCBI taxonomy ID | \\- | Homo sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| expand | Boolean(0,1) | Expands the information to include details of sequences. Can be very large. | NULL | \\- |",
            "operationId":"GETinfo/genomes/taxonomy/:taxon_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/taxon_name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/ping":{
         "get":{
            "summary":"GET info/ping",
            "description":"Checks if the service is alive.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/ping",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/rest":{
         "get":{
            "summary":"GET info/rest",
            "description":"Shows the current version of the Ensembl REST API.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/rest",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/software":{
         "get":{
            "summary":"GET info/software",
            "description":"Shows the current version of the Ensembl API used by the REST server.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/software",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/species":{
         "get":{
            "summary":"GET info/species",
            "description":"Lists all available species, their aliases, available adaptor groups and data release.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| division | String | Filter by Ensembl or Ensembl Genomes division. | EnsemblVertebrates | EnsemblVertebrates  <br> |\n| hide_strain_info | Boolean(0,1) | Show/hide strain and strain_collection info in the output | 0 | \\- |\n| strain_collection | String | Filter by strain_collection. | \\- | mouse  <br> |",
            "operationId":"GETinfo/species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/variation/{species}":{
         "get":{
            "summary":"GET info/variation/:species",
            "description":"List the variation sources used in Ensembl for a species.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| filter | String | Restrict the variation source searches to a single source. | \\- | dbSNP  <br>ClinVar  <br>OMIM  <br>UniProt  <br>HGMD |",
            "operationId":"GETinfo/variation/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/variation/consequence_types":{
         "get":{
            "summary":"GET info/variation/consequence_types",
            "description":"Lists all variant consequence types.\n\n## Parameters\n\n### Required\n\nNo required parameters\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| rank | Boolean(0,1) | Include consequence ranking | 0 | \\- |",
            "operationId":"GETinfo/variation/consequence_types",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/variation/populations/{species}/{population_name}":{
         "get":{
            "summary":"GET info/variation/populations/:species:/:population_name",
            "description":"List all individuals for a population from a species\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| population_name | String | Population name | \\- | 1000GENOMES:phase_3:ASW  <br> |\n| species | String | Species name/alias | \\- | human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |",
            "operationId":"GETinfo/variation/populations/:species:/:population_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"human"
                  }
               },
               {
                  "$ref":"#/components/parameters/population_name"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/info/variation/populations/{species}":{
         "get":{
            "summary":"GET info/variation/populations/:species",
            "description":"List all populations for a species\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| species | String | Species name/alias | \\- | homo_sapiens  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| filter | String | Restrict populations returned to e.g. only populations with LD data. It is highly recommended to set a filter and to avoid loading the complete list of populations. | \\- | LD |",
            "operationId":"GETinfo/variation/populations/:species",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "$ref":"#/components/parameters/filter"
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"homo_sapiens"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Information"
            ]
         }
      },
      "/ld/{species}/{id}/{population_name}":{
         "get":{
            "summary":"GET ld/:species/:id/:population_name",
            "description":"Computes and returns LD values between the given variant and all other variants in a window centered around the given variant. The window size is set to 500 kb.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id | String | Variant id | \\- | rs56116432  <br> |\n| population_name | String | Population for which to compute LD. Use GET [/info/variation/populations/:species?filter=LD](https://rest.ensembl.org/documentation/info/variation_populations) to retrieve a list of all populations with LD data. | \\- | 1000GENOMES:phase_3:KHV  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| attribs | Boolean | Add variation attributes for the variation which is used to compute LD data with the input variation: chr, start, end, strand, consequence_type, clinical_significance | 0 | \\- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| d_prime | Float | Measure of LD. If D' is provided only return pairs of variants whose D' value is equal to or greater than the value provided. | 0 | 1.0  <br> |\n| r2 | Float | Measure of LD. If r-squared is provided only return pairs of variants whose r-squared value is equal to or greater than the value provided. | 0 | 0.85  <br> |\n| window_size | Integer | Window size in kb. The maximum allowed value for the window size is 500 kb. LD is computed for the given variant and all variants that are located within the specified window. | 500 | 500 |",
            "operationId":"GETld/:species/:id/:population_name",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"human"
                  }
               },
               {
                  "name":"id",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"rs1042779"
                  }
               },
               {
                  "name":"population_name",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"1000GENOMES:phase_3:KHV"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Linkage Disequilibrium"
            ]
         }
      },
      "/ld/{species}/pairwise/{id1}/{id2}":{
         "get":{
            "summary":"GET ld/:species/pairwise/:id1/:id2",
            "description":"Computes and returns LD values between the given variants.\n\n## Parameters\n\n### Required\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| id1 | String | Variant id1 | \\- | rs6792369  <br> |\n| id2 | String | Variant id2 | \\- | rs1042779  <br> |\n| species | String | Species name/alias | \\- | homo_sapiens  <br>human  <br> |\n\n### Optional\n\n| Name | Type | Description | Default | Example Values |\n| --- | --- | --- | --- | --- |\n| callback | String | Name of the callback subroutine to be returned by the requested JSONP response. Required ONLY when using JSONP as the serialisation method. Please see [the user guide](http://github.com/Ensembl/ensembl-rest/wiki). | \\- | randomlygeneratedname  <br> |\n| d_prime | Float | Measure of LD. If D' is provided only return pairs of variants whose D' value is equal to or greater than the value provided. | 0 | 1.0  <br> |\n| population_name | String | Only compute LD for this population. Use GET [/info/variation/populations/:species?filter=LD](https://rest.ensembl.org/documentation/info/variation_populations) to retrieve a list of all populations with LD data. | 0 | 1000GENOMES:phase_3:KHV  <br> |\n| r2 | Float | Measure of LD. If r-squared is provided only return pairs of variants whose r-squared value is equal to or greater than the value provided. | 0 | 0.85 |",
            "operationId":"GETld/:species/pairwise/:id1/:id2",
            "parameters":[
               {
                  "name":"content-type",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"application/json"
                  }
               },
               {
                  "name":"population_name",
                  "in":"query",
                  "required":true,
                  "style":"form",
                  "schema":{
                     "type":"string",
                     "example":"1000GENOMES:phase_3:KHV"
                  }
               },
               {
                  "name":"species",
                  "in":"path",
                  "required":true,
                  "style":"simple",
                  "schema":{
                     "type":"string",
                     "example":"human"
                  }
               },
               {
                  "$ref":"#/components/parameters/id1"
               },
               {
                  "$ref":"#/components/parameters/id2"
               }
            ],
            "responses":{
               "200":{
                  "description":"",
                  "headers":{
                     
                  }
               }
            },
            "tags":[
               "Linkage Disequilibrium"
            ]
         }
      },
      "/ld/{species}/region/{region}/{population_name}":{
         "get":{
            "summary":"GET ld/:species/region/:region/:population_name",
[...]
